<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <!-- Cantarell Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Cantarell:ital,wght@0,400;0,700;1,400;1,700&display=swap"
        rel="stylesheet">
    <!-- Website Title -->
    <title>Lavanya: Uploaded!</title>
</head>

<body>
    <!-- NAVBAR -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
            <a href="#" class="navbar-brand">Lavanya</a>
        </div>
    </nav>
    <!-- APP -->
    <div class="container">
        <div class="row">
            {% with messages = get_flashed_messages(with_categories=True) %}
            <!-- Categories: `success`, `info`, `warning`, `danger` -->
            {% if messages %}
            {% for category, message in messages %}
            <div class="alert alert-{{ category }} alert-dismissable fade show" role="alert">
                <div class="d-grid gap-2">
                    {{ message }}
                </div>
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
            {% endfor %}
            {% endif %}
            {% endwith %}
        </div>
        <div class="row">
            <h1>File Uploaded!</h1>
            {% if uploaded %}
            <div>
                <p>
                    You can find the file in the filename <code>/app/audio/{{ uploaded_filename }}</code>
                </p>
                <div class="btn-group" role="group" aria-label="App Options">
                    <a href="/app/audio/{{ uploaded_filename }}" class="btn btn-primary">
                        Play File
                    </a>
                    <a href="/app/audio/{{ uploaded_filename }}?download=true" class="btn btn-primary">
                        Download File
                    </a>
                </div>
            </div>
            {% else %}
            <p>
                File not uploaded.
            </p>
            {% endif %}
        </div>
    </div>

    <div class="container">
        <footer class="py-5">
            <div class="d-flex justify-content-between py-4 my-4 border-top">
                <p>
                    &copy; 2022
                    <a href="https://gouthamkrishnakv.pages.dev" target="_blank">Goutham Krishna K V</a>.
                    All Rights Reserved.
                </p>
                <p>
                    This project is open-source software, licensed with
                    <a href="https://www.gnu.org/licenses/agpl-3.0.en.html">
                        GNU Affero General Public License 3.0
                    </a>.
                </p>
            </div>
        </footer>
    </div>

    <!-- Bootstrap JavaScript Bundle -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
        crossorigin="anonymous"></script>

    <style>
        .container {
            padding-top: 24px;
        }

        html {
            font-family: 'Cantarell', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, 'Open Sans', 'Helvetica Neue', sans-serif;
        }
    </style>
</body>

</html>